<h1>TODO APP</h1>

<pre>
  {{ form.value | json }}
</pre>

<form [formGroup]="form" name="createNewTask" (ngSubmit)="form.valid && handleSubmit()" autocomplete="off" novalidate>
  <label for="taskControl">Add a new Task</label><br />
  <input formControlName="title" type="text" name="title" id="taskControl" />
  <button type="submit" [disabled]="form.invalid || form.pristine">Save</button>

  <div [hidden]="form.get('title')?.valid || form.get('title')?.pristine" class="feedback-negative">
    Il campo non è compilato correttamente
  </div>
</form>

<h2>Tasks</h2>

<ul>
  <li [style.backgroundColor]="task.done ? 'green' : 'gray'" [attr.id]="task.id" *ngFor="let task of tasks">
    <h3>
      {{ task.title }}
      <sup
        ><i>({{ task.id }})</i></sup
      >
    </h3>

    <p>
      <b>{{ task.done ? 'Completato' : 'In corso' }}</b>
    </p>

    <div>
      <button (click)="handleMarkTaskAsComplete(task)" type="button" [disabled]="task.done">Complete</button>
      <button (click)="handleDeleteTask(task)" type="button">Delete</button>
    </div>
  </li>
</ul>
