<h1>TODO APP</h1>

<!-- <pre>
  {{ model || '--'}}
</pre> -->

<form #f="ngForm" name="createNewTask" (ngSubmit)="f.valid && handleSubmit()" autocomplete="off">
  <label for="taskControl">Add a new Task</label><br />
  <input [(ngModel)]="model" #name="ngModel" type="text" name="taskControl" id="taskControl" required minlength="3" />
  <button type="submit" [disabled]="name.invalid || name.pristine">Save</button>

  <div [hidden]="name.valid || name.pristine" class="feedback-negative">Il campo non è compilato correttamente</div>
</form>

<h2>Tasks</h2>

<ul>
  <li [attr.id]="task.id" *ngFor="let task of tasks">
    <h3>
      {{ task.title }}
      <sup
        ><i>({{ task.id }})</i></sup
      >
    </h3>

    <button (click)="handleMarkTaskAsComplete(task)" type="button">Complete</button>
    <button (click)="handleDeleteTask(task)" type="button">Delete</button>
  </li>
</ul>
