<div class="main">
  <h1>TODO APP</h1>

  <!-- <form #f="ngForm" (ngSubmit)="f.valid && handleSubmit(f.value)">
  <pre>{{ formModel | json}}</pre>

  <label for="title">Nome del task</label><br>
  <input
    [(ngModel)]="formModel.title"
    #title="ngModel"
    type="text"
    name="title"
    id="titleTask"
    required minlength="3"
  >
  <button type="submit" [disabled]="title.invalid || title.pristine">Inserisci</button>

  <div [hidden]="title.valid || title.pristine" class="feedback-negative">Il valore del campo non è corretto</div>
</form> -->

  <!--<div>
    <label for="title">Nome del task</label><br />
    <input formControlName="title" name="title" type="text" />
    <ul>
      <li *ngFor="let movie of results" (click)="handleMovieClick(movie)">{{ movie.Title }} ({{ movie.Year }})</li>
    </ul>
  </div>
</form>-->

  <form [formGroup]="formReactiveModel" class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Movie Title</mat-label>
      <input
        type="text"
        placeholder="Search"
        aria-label="Movie title"
        matInput
        formControlName="title"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let movie of results" (click)="handleMovieClick(movie)">
          {{ movie.Title }} ({{ movie.Year }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <h2 cpTracking="title" itemId="title tasks">Tasks</h2>

  <!-- <button (click)="addTask()">Add task</button> -->
  <ul class="movies" style="list-style: none; padding: 0">
    <li *ngIf="movies.length === 0">
      <i>Non hai niente da fare!</i>
    </li>

    <ng-container *ngIf="movies.length > 0">
      <li *ngFor="let movie of movies; let i = index">
        <cp-movie-card [movie]="movie"></cp-movie-card>

        <!--<footer>
        <button (click)="handleCompleteTask(task)" [disabled]="task.done" type="button">Completa</button>
        <button (click)="handleDeleteTask(task)" type="button">Elimina</button>
      </footer>-->
      </li>
    </ng-container>
  </ul>
</div>
<a [routerLink]="'list'">Go to list</a>

<!-- <p>Counter: {{counter}}</p>
<cp-list [tasks]="tasks" (increment)="handleIncrement()"></cp-list> -->
