<ng-template #plotView let-value>
  <mat-chip-list>
    <mat-chip>{{ value }}</mat-chip>
  </mat-chip-list>
</ng-template>

<ng-template #actoresView let-value let-title="title">
  <b>Attori</b>

  <ul>
    <li *ngFor="let actor of value.split(',')">
      {{ actor }}
    </li>
  </ul>
</ng-template>

<section class="grid" *ngIf="movie; else noResultTpl">
  <div>
    <h1>
      {{ movie.Title }}
    </h1>

    <cp-print-information title="Type" [value]="movie.Type"></cp-print-information>
    <cp-print-information title="Year" [value]="movie.Year" [componentTemplate]="plotView"> </cp-print-information>
    <cp-print-information title="BoxOffice" [value]="movie.BoxOffice"></cp-print-information>
    <cp-print-information title="Rated" [value]="movie.Rated"></cp-print-information>
    <cp-print-information title="Released" [value]="movie.Released"></cp-print-information>
    <cp-print-information title="Runtime" [value]="movie.Runtime"></cp-print-information>
    <cp-print-information title="Genre" [value]="movie.Genre"></cp-print-information>
    <cp-print-information title="Director" [value]="movie.Director"></cp-print-information>
    <cp-print-information title="Writer" [value]="movie.Writer"></cp-print-information>
    <cp-print-information title="Actors" [value]="movie.Actors" [componentTemplate]="actoresView"></cp-print-information>
    <cp-print-information title="Plot" [value]="movie.Plot"></cp-print-information>
    <cp-print-information title="Language" [value]="movie.Language"></cp-print-information>
    <cp-print-information title="Country" [value]="movie.Country"></cp-print-information>
    <cp-print-information title="Awards" [value]="movie.Awards"></cp-print-information>
  </div>

  <div>
    <img [src]="movie.Poster" alt="poster" *ngIf="movie.Poster !== 'N/A'" />

    <form [formGroup]="movieForm">
      <mat-slide-toggle formControlName="completed" name="enableWifi">Gurdato</mat-slide-toggle>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>

        <mat-select formControlName="rating">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <!--<footer>
    <button (click)="handleCompleteTask(task)" [disabled]="task.done" type="button">Completa</button>
    <button (click)="handleDeleteTask(task)" type="button">Elimina</button>
  </footer>-->
</section>

<ng-template #noResultTpl> Nessun titolo disponibile, <a routerLink="/">torna alla lista</a>! </ng-template>
